{% extends "::base.html.twig" %}

{% block mainContent %}
    {% stylesheets  filter='cssrewrite'  
 'bundles/pages/js/select2-3.5.1/select2.css' 
'bundles/pages/js/bootstrap-select/dist/css/bootstrap-select.css'
    'bundles/pages/js/bootstrap-datetimepicker/css/datetimepicker.css'
 'bundles/pages/css/summernote/dist/summernote.css'
 'bundles/pages/css/app.css'

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div class="">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3>{% trans %}Add new opportunity{% endtrans %}</h3>
                <hr>
            </div>
            <div class="panel-body">
                <div class="noteWrap col-md-8 col-md-offset-2">

                    <form action="{{ path('opportunity/new') }}" method="post" {{ form_enctype(form) }} >
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">                               
                                    {{ form_widget(form.name , { 'attr': {'placeholder': 'Opportunity Name'|trans} }) }}
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="statut" style="font-weight: bold;">{% trans %}Status{% endtrans %}<span class="symbol required"></span></label>
                                        {{ form_widget(form.statut, { 'attr': {'class': 'selectpicker form-control event-categories '} })}}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">   
                                    <label for="step" style="font-weight: bold;">{% trans %}Step{% endtrans %}<span class="symbol required"></span></label>
                                        {{ form_widget(form.step , { 'attr': {'placeholder': 'Step'|trans} }) }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">  
                                    <label for="margin" style="font-weight: bold;">{% trans %}Potentiel Margin{% endtrans %}<span class="symbol required"></span></label>
                                        {{ form_widget(form.margin , { 'attr': {'placeholder': 'Potentiel Margin'|trans} }) }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">  
                                    <label for="ca" style="font-weight: bold;">{% trans %}TurnOver{% endtrans %}</label>

                                    {{ form_widget(form.ca ) }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="entity" style="font-weight: bold;">{% trans %}Company{% endtrans %}<span class="symbol required"></span></label>
                                        {{ form_widget(form.entity, { 'attr': {'style': 'width:100% '} }) }}
                                </div> 
                                <a href="{{path('entities/new')}}" type="button" class="btn btn-default btn-xs pull-right">
                                    <i class="fa fa-plus"></i> {% trans %}Add new Company{% endtrans %}
                                </a>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description" style="font-weight: bold;">{% trans %}Commments - Product Type{% endtrans %}</label>
                                    {{ form_widget(form.comment, { 'attr': {'class': 'summernote'} }) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lost_comment" style="font-weight: bold;">{% trans %}Comments - lost causes{% endtrans %}</label>
                                    {{ form_widget(form.lost_comment, { 'attr': {'class': 'summernote'} }) }}
                                </div>
                            </div>

                            {{ form_rest(form) }}
                            <button class="btn btn-success col-md-4 col-xs-12" type="submit" style="margin-top: 5%;float: right;">
                                <i class="fa fa-floppy-o"></i> {% trans %}Submit{% endtrans %}
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    {% javascripts 
  'bundles/pages/js/jquery-1.11.3.min.js' 
 'bundles/pages/css/bootstrap/js/bootstrap.min.js' 
 'bundles/pages/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
 'bundles/pages/css/summernote/dist/summernote.min.js' 
  'bundles/pages/js/bootstrap-select/js/bootstrap-select.js'
'bundles/pages/js/select2-3.5.1/select2.min.js'
 'bundles/pages/js/newEvent.js' 
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>

        $('#crm_pagesbundle_opportunity_entity').select2();
    </script>
    
    {%if entity_id %}
        <script>
            $("#crm_pagesbundle_opportunity_entity").select2("val", "{{entity_id}}");

        </script>  

    {%endif%}
    <script>


        $("#crm_pagesbundle_opportunity_statut option").each(function (index, value) {
            var option = $(this);
            if (option.val() === "ouvert") {
                option.attr('data-content', "<span class='label label-warning'>{% trans %}ouvert{% endtrans %}</span>");
            }
            else if (option.val() === "clôturé - perdu") {
                option.attr('data-content', "<span class='label label-danger'>{% trans %}clôturé - perdu{% endtrans %}</span>");
            }
            else if (option.val() === "clôturé - gagné") {
                option.attr('data-content', "<span class='label label-success'>{% trans %}clôturé - gagné{% endtrans %}</span>");
            }


        });



    </script>

{% endblock %}